{% extends 'base.html' %}

{% load static %}
{% block content %}
<div id="main">
	<div class="inner">
		<header>
			<h1>Welcome to film blog</h1>
		</header>
		<section class="tiles">
			{% for film in page_object.object_list %}
			<article class="style1">
									<span class="image">
										<img src="{{ film.poster.url }}" alt=""/>
									</span>
				<a href="{% url 'film-detail' pk=film.id %}">
					<h2>{{ film.title }}</h2>
					<div class="content">
						<p>{{ film.description|truncatewords:10 }}.</p>
					</div>
				</a>
			</article>
			{% endfor %}
		</section>
	</div>
</div>

<nav aria-label="...">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" href="?page=1" tabindex="-1">First</a>
		</li>

		{% for n in page_object.paginator.page_range %}

		{% if page_object.number == n %}
		<li class="page-item active" aria-current="page">
			<a class="page-link" href="?page={{ n }}">{{ n }}</a>
		</li>
		{% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
		<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
		{% endif %}

		{% endfor %}

		<li class="page-item">
			<a class="page-link" href="?page={{ page_object.paginator.num_pages }}">Last</a>
		</li>
	</ul>
</nav>
{% endblock %}